DB_URL=mysql://13.229.122.66:3306/tinamusic2
DB_USERNAME=root
DB_PASSWORD=your_password_here

DEFAULT_LIMIT=20
MAX_LIMIT=100

PREMIUM_SONG_TYPE=1
PREMIUM_BOOST_MULTIPLIER=1.35
PREMIUM_MIN_SLOTS=2

HEAVY_USER_EVENT_THRESHOLD=120
LONG_TAIL_BOOST_FOR_HEAVY=1.2
POPULAR_PENALTY_FOR_HEAVY=0.85
LONG_TAIL_MIN_SLOTS_HEAVY=2
